@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: rgb(10, 136, 12);
}

.card {
    width: 350px;
    height: 500px;
    border-radius: 20px;
    position: relative;
}

.top-suit {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 100px;
}

.bottom-suit {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 100px;
    transform: rotate(180deg);
}

.card-value {
    position: absolute;
    top: 50%;
    left:50%;
    font-size: 100px;
    transform: translate(-50%, -50%);
}

.heart, .diamond {
    color: red;
}

.spade, .club {
  color: black;
}

.card-value {
  color: black !important;
}